<div style='text-align:center;'>
選択中大学：
<% if cookies[:univ].present?%>
<%= cookies[:univ]%>
<% else %>
all
<%end %><br>
TOPで変更できます
</div>
<hr>
<div>
<br>
<div style="text-align:center;">
  <p id="notice"><%= notice %></p>
  現在注目されている人達です
</div>

<br>
<%
if @users.present?
  %>
  <%= render 'registeredshow', profiles: @users %>
<%
else
%>
  <strong>誰も登録されていません</strong>
<%
end
%>
