
<pre>
  現在表示している年度は<%= cookies[:age] %>年
</pre>
<pre>
  簡単な説明
  新規作成で新入生を登録
  詳細画面で注目人物に登録できるよ
</pre>



<p id="notice"><%= notice %></p>
<br>
<div class="newregister" style='text-align:center;font-size:200%;'><%= link_to '新規登録', new_profile_path,style:'color:#ffffff',class: 'btn btn-primary' %></div>
<br>


<%= render 'registeredshow', profiles: @profiles %>
