<div style="text-align=center;width=100%;">
<h1 align="center">新規登録</h1>
</div>
<br>
<div style="text-align:center;">
<%= render 'form', profile: @profile %>
</div>
<br>
<div style='text-align:center;'>
<%= link_to '戻る', profiles_path %>
</div>
